In [89]:
import pandas
import numpy as np
working_hours = 6
data = pandas.read_excel('products_database.xlsx', sheet_name='Products')
df = pandas.DataFrame(data)
df['Avg cons'] = df['Per day cons'] * 360
df['co2_emissions'] = working_hours * 600 * df['Avg cons']
df['rank'] = df.index + 1
df = df.sort_values(by='co2_emissions', ascending=False)
df = df.iloc[:3]

df

  Machine/Devices  Per day cons  Avg cons  co2_emissions  rank
0       Computers         200.0   72000.0    259200000.0     1
1   Mini Computer         100.0   36000.0    129600000.0     2
4   Printers (A4)          50.0   18000.0     64800000.0     5